<!-- Script Section -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <p class="text-sm-start my-0">
      &copy; Copyright 2022. All Rights reserved. <span class="fst-italic">References: Images taken from https://unsplash.com</span>
    </p>
  </nav>
</footer>

<!--<script src="/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="/Scripts/app.js"></script> -->
</body>

</html>