<%- include partials/header.ejs %>

<%- include partials/navbar.ejs %>

<!-- Main Content -->
<main class="container py-4 mb-5 text-center">
  <h1 class="title">About Me</h1>
  <div class="row py-4">
    <div class="col-md-4">
      <img src="images/bird.jpeg" class="img-fluid" alt="City">
    </div>
    <div class="col-md-8 text-start">
      <h3 class="fw-semibold">Oscar Osorio</h3>
      <h4 class="fs-6">Software Engineer</h4>
      <p class="fs-5 py-4">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti
        sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
      </p>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>