<%- include partials/header.ejs %>

<%- include partials/navbar.ejs %>

<!-- Main Content -->
<main class="container py-4 mb-5 text-center">
  <h1 class="title">About Me</h1>
  <div class="row py-4">
    <div class="col-md-4">
      <img src="images/oj.jpeg" class="img-fluid" alt="I">
    </div>
    <div class="col-md-8 text-start">
      <h3 class="fw-semibold">Oscar Osorio</h3>
      <h4 class="fs-6">Software Engineer</h4>
      <p class="text-center fs-5 py-4">Oscar is a self-motivated and creative software engineer with 4+ years of experience providing effective software solutions for different industries Strong educational background in software architecture (full software development life cycle, design patterns, agile methodologies, frameworks, and development tools).
        I interested in cloud computing, big data, and frontend technologies. Also, I love travelling around the world and doing exercise in leisure time.
        If you are more interested. Just click to check my resume down below.
      </p>
      <div class="text-center">
        <button class="btn btn-success" type="submit" onclick="window.open('images/resume.pdf')">See Resume</button>
      </div>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>