<%- include partials/header.ejs %>

<%- include partials/navbar.ejs %>

<!-- Main Content -->
<main class="container pb-5 mb-5">

  <div class="container text-center">
    <img src="assets/city.jpeg" class="img-fluid" alt="City">
    <div class="container-img title-center">
      <h1 class="title">Innovation in business transformation</h1>
      <h4 class="body">Welcome! I'm glad you've visited my website.</h4>
      <h4 class="body">Get know <a href="/about" class="btn btn-light">who </a> is behind this project.</h4>
    </div>
    <hr>
    <h3 class="my-5">Mission</h3>
    <div class="fs-5">
      I am focused on clients and in different national and international sectors, thus allowing you to bring advanced solutions with current and emerging technologies, generating value for your business. My experience, knowledge and technologies allow more and more projects to be carried out successfully, reliably and with a vision of growth.
      My mission is to alter and optimize customers' business and support operations by offering them professional advice on management, direction, quality, and continuous development. </div>
  </div>

</main>


<%- include partials/footer.ejs %>