<%- include partials/header.ejs %>

<%- include partials/navbar.ejs %>


<!-- Main Content -->
<main class="container">

  <div class="container text-center">
    <img src="images/city.jpeg" style="height:80%" class="img-fluid" alt="City">
    <div class="container-img title-center">
      <h1 class="title">Innovation in business transformation</h1>
      <h4 class="body">Welcome! I'm glad you've visited my website.</h4>
      <h4 class="body">Get know <a href="/about" class="btn btn-light">who </a> is behind this project.</h4>
    </div>
    <hr>
    <h3>Mision</h3>
    <div>mision mision mision mision mision</div>
  </div>

</main>


<%- include partials/footer.ejs %>