<%- include partials/header.ejs %>

<%- include partials/navbar.ejs %>

<!-- Main Content -->
<main class="container py-4 mb-5 text-center">
  <h1 class="title">Services</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/software.jpg" class="card-img-top" alt="software">
        <div class="card-body">
          <h4 class="card-title">Software Development</h4>
          <p class="card-text fs-6">Establishing a route for businesses to build digital products with a solid, future-proof design.
            From the initial plan to creating and improving the platform, we assist you negotiate a challenging environment.
            Applying best practices and design patterns along with a partner ecosystem of the best of breed will enable it.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/iot.jpg" class="card-img-top" alt="InternetOfThings">
        <div class="card-body">
          <h4 class="card-title">Internet of Things</h4>
          <p class="card-text fs-6">With an emphasis on edge and IoT platform development, I am focused on offering end-to-end solutions.
            The distinction between the physical and digital worlds is blurred by our extensive knowledge in hardware integration and embedded software development that smoothly integrates into platform ecosystems.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/cloud.jpg" class="card-img-top" alt="Cloud">
        <div class="card-body">
          <h4 class="card-title">Cloud Services</h4>
          <p class="card-text fs-6">Bringing together the greatest cloud technologies, DevOps techniques, infrastructure, and innovative capabilities to enable new and more effective business processes.
            Discover new and exciting ways to unlock the power of cloud computing. From migration to cloud management.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/data.jpg" class="card-img-top" alt="Data">
        <div class="card-body">
          <h4 class="card-title">Data & Insights</h4>
          <p class="card-text fs-6">The finest data products and strategies to fulfil their business needs can be found, defined, and built.
            I develop them from preliminary definitions to live production, making sure that business stakeholders are involved and supportive of the finished result at every stage.</p>
        </div>
      </div>
    </div>
  </div>

</main>

<%- include partials/footer.ejs %>