/*
style.css
Oscar Osorio
301229160
2022-09-29
*/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main .title {
  font-weight: bold;
}

nav .collapse ul li:hover a,
ul .nav-item.active {
  background-color: rgb(233, 233, 233);
  color: #0c0c0c;
}

ul .nav-item.active a {
  color: #0c0c0c;
}

footer nav p {
  color: rgb(255, 255, 255, 0.55);
}

/* Home */

.container-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
}

.container-img .title {
  color: #ededed;
  text-shadow: 2px 2px #0c0c0c;
  font-weight: bold;
}

.container-img .body {
  color: #ededed;
  text-shadow: 2px 2px #0c0c0c;
  font-weight: bold;
}

.container-img .body a {
  text-shadow: 0 0 #0c0c0c;
}

/* About */

/* Projects */

.accordion-button:not(.collapsed) {
  color: #FFF;
  background-color: #b1b1b1;
}

/* Services */

/* Contact */